<%
    var categories = new Set();
    posts.forEach(function(item)
        {
            if (item.categories.length > 0){
                item.categories.forEach(function(category)
                    {
                        categories.add(
                            '<a href="' + config.root + '' + category.path.toLowerCase() + '" class="badge badge-light" style="background-color: #fff; color: #111">' + category.path.replace('categories/', '').substring(0, category.path.replace('categories/', '').length - 1).toLowerCase() + '</a></br>')
                    })
            }
        });
    var categories_text = [];
    categories.forEach(
        function(ca) {
            categories_text.push(ca);
        }
    );
    categories_text.sort()

%>

<%- categories_text.join("\n") %>



