<%
var tags = [];

tags.push('<a href="' + config.root + item.path.toLowerCase() + '" class="badge badge-light" style="background-color: #fff; color: #111">#' + item.name.toLowerCase() + '</a>');

tags.sort()
%>

<%- tags.join("") %>



